body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    font-family: Helvetica;
    overflow-y: hidden;
}

hr {
    position: center;
    height: 1px;
    width: 60%;
    opacity: 10 10;
    color: #000000;
}

#body__main {
    height: max-content;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
}

#body__main__comandpanel {
    /* top: 0px; */
    /* left: 0px; */
    display: flex;
    width: 33.3%;
    height: 580px;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    opacity: 1;
}

#body__main__comandpanel__logo {
    top: 60px;
    left: 188px;
    width: 140px;
    height: 106px;
    background: transparent url('img/pwc-logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#body__main__comandpanel__title {
    top: 188px;
    left: 50px;
    width: 485px;
    height: 17px;
    text-align: center;
    font: Regular 22px/30px Helvetica Neue LT Pro;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

#body__main__numpanel {
    top: 0px;
    left: 515px;
    width: 60%;
    height: 580px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    /* border: 1px solid #707070; */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body__main__numpanel__content__visor {
    width: 359px;
    height: 90px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.body__main__numpanel__content__visor__num {
    width: 326px;
    height: 70px;
    text-align: right;
    color: #000000;
    opacity: 1;
}

.body__main__numpanel__content__visor__num span {
    font: Regular 129px/181px Helvetica Neue LT Pro;
    font-size: 70px;
    letter-spacing: 0;
    opacity: 1;
}

#body__main__numpanel__content__num {
    top: 366px;
    left: 971px;
    width: 359px;
    height: 370px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap-reverse;
}

.body__main__numpanel__content__num__button {
    width: 65px;
    margin-left: 20px;
    height: 65px;
    background: #EB8C00 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__main__numpanel__content__num__button span {
    color: #FFFFFF;
    opacity: 1;
    font-size: 30px;
    font-family: Helvetica;
}

#body__main__numpanel__content__num__recentes {
    height: 460px;
    width: 10px;
    border-left: solid 0.5px black;
}
.body__main__numpanel__content__num__button:hover {
    background-color: darkorange;
}
.body__main__numpanel__content__num__button:active {
    background-color: white;
    
}
.body__main__numpanel__content__num__button:active span{
    color:orange;

}