{%extends 'main.html'%} {%block content%}

<div id="body__main">
    <div id="body__main__comandpanel">
        <div>
            <div>
                <div id="body__main__comandpanel__logo">
                    <img src="/static/img/pwc-logo.png">
                </div>
                <div id="body__main__comandpanel__title">Calculadora</div>
                <hr>
                <div></div>

            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </div>
    <div id="body__main__numpanel">
        <div style="width: max-content;display: flex;">
            <div id="body__main__numpanel__content">
                <div id="body__main__numpanel__content__visor">
                    <div class="body__main__numpanel__content__visor__num">
                        Resultado
                        <span>1533</span>
                    </div>
                    <hr>
                </div>
                <div id="body__main__numpanel__content__num">
                    <div class="body__main__numpanel__content__num__button"></div>
                    <div class="body__main__numpanel__content__num__button"></div>
                    <div class="body__main__numpanel__content__num__button"></div>
                    <div class="body__main__numpanel__content__num__button"></div>
                    <div class="body__main__numpanel__content__num__button"></div>

                    <div class="body__main__numpanel__content__num__button"><span>1</span></div>
                    <div class="body__main__numpanel__content__num__button"><span>2</span></div>
                    <div class="body__main__numpanel__content__num__button"><span>3</span></div>
                    <div class="body__main__numpanel__content__num__button"></div>

                    <div class="body__main__numpanel__content__num__button"><span>4</span></div>
                    <div class="body__main__numpanel__content__num__button"><span>5</span></div>
                    <div class="body__main__numpanel__content__num__button"><span>6</span></div>
                    <div class="body__main__numpanel__content__num__button"></div>

                    <div class="body__main__numpanel__content__num__button"><span>7</span></div>
                    <div class="body__main__numpanel__content__num__button"><span>8</span></div>
                    <div class="body__main__numpanel__content__num__button"><span>9</span></div>
                    <div class="body__main__numpanel__content__num__button"></div>
                    <div class="body__main__numpanel__content__num__button"></div>
                    <div class="body__main__numpanel__content__num__button"></div>
                    <div class="body__main__numpanel__content__num__button"></div>
                </div>

            </div>

            <div id="body__main__numpanel__content__num__recentes">
                12345678
            </div>
        </div>
    </div>

</div>
{%endblock%}